/* 首页轮播 */
.home-carousel {
    height: 750px;
    overflow: hidden;
    z-index: 3;

}

/* 首页轮播中的每一张图片 */
.home-carousel.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slide-caption {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 1236px;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slide-caption h2 {
    line-height: 72px;
    color: #F0F0F0;
    font-size: 48px;
}

.slide-caption h5 {
    font-family: "HarmonyOS Sans-Regular";
    line-height: 40px;
    color: #F0F0F0;
    font-size: 20px;
}
.description{
    font-family: 'HarmonyOS Sans-Regular'!important;
    font-weight:200;
}


.banner-box {
    background: url("../image/bg-gray.png") no-repeat 100%;
    padding: 19px 2px 0 28px;
    width: 100%;
    /*border: white dashed 1px;*/
    height: 117px;
    margin-top: 43px;
    font-size: 20px;
    line-height: 40px;
    white-space: nowrap;
    font-family: "HarmonyOS Sans-Regular"
}



.carbox {
    display: flex;
    gap: 29px;
    height: 382px;
}

.car-img {
    width: 288px;
    height: 288px;

}

.car-info span {
    display: inline-block;
    font-family: "HarmonyOS Sans-Regular";
    padding: 3px;
    white-space: normal;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    text-align: center;
}

.block-box {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.block-bot {
    width: 9px;
    height: 9px;
    border: 1px solid #777777;
    border-radius: 3px;
}

.block-bot-active {
    background: #000;
}
.new-box{
    margin-bottom: 24px;
}
.new-title{
    font-size: 16px;
    line-height: 40px;
    color: #0090FF;
    font-family: "HarmonyOS Sans-Bold"
}
.new-content {
    color: #666666;
    font-size: 20px;
    line-height: 30px;
    font-family: "HarmonyOS Sans-Regular"
}



