.s-content {
    font-family: "HarmonyOS Sans-Regular";

    line-height: 30px;
    font-size: 20px;
    color: #707070;
}

.c-title {
    font-size: 20px;
    color: #000000;
    line-height: 40px;
}

.c-content {
    font-size: 20px;
    color: #666666;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "HarmonyOS Sans-Regular";
}

.c-tip {
    font-size: 20px;
    line-height: 30px;
    color: #0090FF;
    font-family: "HarmonyOS Sans-Regular";
}

.p-title {
    font-size: 38px;
    text-align: center;
    margin: 66px auto 23px
}

.p-content {
    text-align: center;
    font-size: 20px;
    color: #000000;
    line-height: 40px;
}

.p-box {
    width: 100vw;

}
.p-box:nth-child(odd) {
    background: #FAFAFA;
}
.p-item{
    padding: 25px 0;
    display: flex;
    gap: 32px
}

.p-item-img {
    width: 286px;
    height: 179px;
}

.p-item-title {
    font-size: 20px;
    line-height: 26px;
    margin-top: 25px
}

.p-item-content {
    font-size: 20px;
    line-height: 36px;
    font-family: 'HarmonyOS Sans-Regular';
    color: #666666;
    margin: 12px 0 19px
}

.p-item-time {
    font-size: 16px;
    line-height: 40px;
    color: #0090FF
}
