

.p-box {
    padding: 39px 0 0;
    display: flex;
    gap: 32px
}

.p-item-img {
    width: 215px;
    height: 305px;
}

.p-item-title {
    font-size: 30px;
    line-height: 40px;
}

.p-item-content {
    font-size: 20px;
    line-height: 40px;
    font-family: 'HarmonyOS Sans-Regular';
    margin: 12px 0 10px
}

.p-item-time {
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-family: "HarmonyOS Sans-Regular";
    font-size: 20px;
    line-height: 40px;
    color: #666666
}